body
        {
            background-color: rgb(253, 231, 201);
        }
        .message-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #c2a97c;
            background-color: white;
            border-radius: 5px;

        }
        .message {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
        .message .username {
            font-weight: bold;
        }
        .message .timestamp {
            font-size: 0.8em;
            color: #4c3228;
        }
        .reply-form {
            margin-top: 20px;
        }
        .reply-form textarea {
            width: 100%;
            height: 60px;
            margin-bottom: 10px;
            color: #4c3228;
        }
        .reply-form input[type="submit"] {
            padding: 10px 20px;
            background-color: #cfb690;
        }
        .closed-message {
            background-color: #f9f9f9;
        }
        .closed-message .reply-text {
            margin-top: 10px;
            padding: 10px;
            background-color: #e9e9e9;
        }
        .delete-button {
            background-color: #ff4d4d;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        .delete-button:hover {
            background-color: #ff1a1a;
        }