body{
    background-color: whitesmoke;
}


.container{
  background-color: #faac0522;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 17%;
  width: 60%;
  border: 5px solid #c2a97c;
  padding: 50px;
  padding-bottom: 10%;
  box-shadow: #3c280d;
  border-radius: 5px;
}

#message{
    max-width: 50%;
    max-height: 20%;
    margin-left: 25%;
}

button{
    padding-left: 5%;
    padding-right: 5%;
    font-size: medium;
    color: #3c280d;
    margin-bottom: 2%;
    margin-left: 40%;
    margin-top: 10%;
    background-color: #cfb690;
    font-family: poppins;
    border-radius: 5px;
}


h2{ 
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: #5c3606;
    font-weight: 700;
}

#your_message{
    font-size: 28px;
    margin-top: 10%;
}

#cancel{
   
   padding-top: 10%;
   font-style: normal;
   margin-left: 45%;
   font-size: 17px;
   margin-bottom: 10%;
   
}

label{
    
    font-size: medium;
    color: #3c280d;
    margin-left: 28%;
    margin-left: 340px;
    font-style: oblique;
}


