body {
    font-family: Arial, sans-serif;
    background-color: #c6a988;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.header h2{
    background-color: #d4b765;
    color: #2C1503;
    padding: 10px;
    text-align: center;
    font-family: helvica;
}
nav ul{
    list-style-type: none;
    position: relative;
    bottom: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #432711;
}
nav ul li a:hover {
    color: #3a1e08;
}
.table{
    padding: 20%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color:  #fae3b9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 82px;
    left: 460px;

}
.add-ons{
    margin-top:3% ;
    padding: 1%;
    max-width: 1000px;
    background-color: #faf2de;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    font-family: poppins;
    font-size: 18;
}
#item{
    font-weight: bold;
}
.status{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fae3b9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 970px;
    left: 300px;
    margin-left: 15%;
}
.order{
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}
table tr td{
    padding: 10px;
}
.warn{
    font-size:12px;
    text-align:center;
}
.cancel{
    text-decoration: none;
    color: #000000;
}
.cancel:hover{
    color: #0018857c;
}

#place_order{
    padding-left: 25%;
    color: #3a1e08;
}