body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}

header {
    background-color: #c7a74f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: #4b3832;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 300px;
    border: 2px solid #ddd;
    margin: 10px;
    padding: 10px;
    background-color: #ffe5b4;
    text-align: center;
    font-family: poppins;
    color: #4b3832;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
}
