body{
    background-color: bisque;
}

h3{
    font-family: Poppins;
    color: #5b3e31;
    margin-top: 60px;
    text-align: center;
    font-size: 23px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5b3e31;
    text-align: center;
}

#table_one{
    margin: 10px;
    border: 10px;
    margin-left: 39%;
    border-spacing: 10px;
    text-align: center;
    border: 2px solid #4c3228;
    background-color: beige;
    font-size: larger;
    border-radius: 5px;
    
    
}

#table_two{
    margin: 10px;
    border: 10px;
    margin-left: 39%;
    border-spacing: 10px;
    text-align: center;
    border: 2px solid #4c3228;
    background-color: beige;
    font-size: larger;
    color: #352119;
    border-radius: 5px;
    
}